<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информационная система автопарка</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container_main">
        <div class="container_info">
            <h1>Информационная система автопарка</h1>

            <h4>Гистограмма количества машин по дням регистрации</h4>
            <div class="chartContainer">
                <canvas id="carsHistogram"></canvas>
            </div>

            <div class="search-container">
                <h4>Поиск автомобиля по любому критерию:</h4>

                <form th:action="@{/}" class="search-form">
                    <input type="text" name="keyword" id="keyword"  placeholder="Введите искомое значение" th:value="${keyword}" required/>
                    <input type="submit" class="cyan-btn" value="Поиск"/>
                    <input type="button" class="purple-btn" value="Очистить" id="btnClear" onclick="clearSearch()"/>
                </form>
            </div>

            <div class="sort-container">
                <h4>Сортировать по году выпуска:</h4>
                <a th:href="@{/(keyword=${keyword}, sort='asc')}">
                    По возрастанию
                </a> |
                <a th:href="@{/(keyword=${keyword}, sort='desc')}">
                    По убыванию
                </a>
            </div>

            <table id="1" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Марка</th>
                    <th>Год выпуска</th>
                    <th>Дата поставки на учет</th>
                    <th>ФИО владельца</th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="entity: ${listEntities}">
                        <th th:text="${entity.id}">ID автомобиля отстутсвует</th>
                        <th th:text="${entity.model}">Модель автомобиля отстутсвует</th>
                        <th th:text="${entity.manufactureYear}">Год производства автомобиля отстутсвует</th>
                        <th th:text="${entity.registrationDate}">Дата постановки на учет отсутствует</th>
                        <th th:text="${entity.owner}">ФИО владельца отсутствует</th>

                        <td>
                            <div class="right_buttons-container">
                                <a th:href="@{${editLink}+${entity.id}}"><button type="button" class="green-btn">Редактировать</button></a>
                                <a th:idEntity="${entity.id}" onclick="deleteEntity(this)"><button type="button" class="red-btn">Удалить</button></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>
                <script type="text/javascript">
                    function getRowsColumn() {
                        let table = document.getElementById('1')
                        let tBody = table.querySelector('tbody')
                        const count = tBody.querySelectorAll('tr').length;
                        document.write('Количество записей в таблице: ' + count)
                    }

                    getRowsColumn()
                </script>
            </p>

            <div class="bottom_buttons-container">
                <a th:href="@{${newLink}}"><button class="cyan-btn" type="button" aria-pressed="false" autocomplete="off">Добавить новый автомобиль</button></a>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/}]]";
        }
    </script>

    <script th:src="@{/js/car_deletion.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        window.chartLabels = /*[[${dates}]]*/ [];
        window.chartDataCounts = /*[[${counts}]]*/ [];
        /*]]>*/
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/cars_histogram.js}"></script>

</body>
</html>