<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информационная система автопарка "Toretto"</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container_main">
        <div class="container_info">
            <h1>Информационная система автопарка "Toretto"</h1>
            <h2>Автомобили</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Марка</th>
                    <th>Год выпуска</th>
                    <th>Дата поставки на учет</th>
                    <th>ФИО владельца</th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="entity: ${listEntities}">
                        <th th:text="${entity.id}">ID автомобиля отстутсвует</th>
                        <th th:text="${entity.model}">Модель автомобиля отстутсвует</th>
                        <th th:text="${entity.manufactureYear}">Год производства автомобиля отстутсвует</th>
                        <th th:text="${entity.registrationDate}">Дата постановки на учет отсутствует</th>
                        <th th:text="${entity.owner}">ФИО владельца отсутствует</th>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</body>
</html>