.container_main {
    background-image: url('../images/background_vehicle_fleet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

.container_info {
    width: 90%;
    max-width: 1000px;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.right_buttons-container{
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    gap: 3px;
}

.bottom_buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.green-btn{
    background-color: #74dd79;
}

.red-btn{
    background-color: #e85068;
}


.cyan-btn{
    background-color: #6edcc3;
}

.purple-btn{
    background-color: #bc8bec;
}

.table_fields{
    margin: 0 auto;
}

.green-btn, .cyan-btn, .red-btn, .purple-btn{
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form{
    max-width: 600px;
    margin: 40px auto;
    padding: 30px 40px;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="date"] {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 1.8px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.search-container h4 {
    margin-bottom: 5px;
    text-align: center;
    color: #555;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.sort-container {
    text-align: center;
    font-size: 16px;
    color: #34495e;
    margin-bottom: 40px;
    margin-top: 20px;
}

.sort-container span {
    font-weight: 600;
}

.sort-container a {
    margin: 0 10px;
    text-decoration: none;
    color: #0e5ae8;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
}

